source https://api.nuget.org/v3/index.json
source ./src/Libs

nuget FSharp.Core
nuget Expecto 9.0.4
nuget FSharpx.Async 1.14.1
nuget Serilog 2.12.0
nuget Serilog.Sinks.Console 4.1.0
nuget Serilog.Sinks.File 5.0.0
nuget SuperSimpleTcp 3.0.5
nuget Smoosh 1.0.1-custom
nuget Smoosh.Shared 1.0.1-custom
nuget FsToolkit.ErrorHandling